<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">create a new task</h3>
    </div>
    
    <form method="POST" action="/todos">
        <div class="panel-body form-horizontal">
            <div class="form-group col-md-12">
                <label class="col-sm-2 control-label" for="titre">Titre: </label>
                <div class="col-md-10">
                    <input type="text" name="titre" class="form-control" />
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-sm-2 control-label" for="auteur">Auteur: </label>
                <div class="col-md-10">
                    <input type="text" name="auteur" class="form-control" />
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="col-sm-2 control-label" for="urgence">Urgence: </label>
                <div class="col-md-10">
                    <input type="text" name="urgence" class="form-control" />
                </div>
            </div>
            <div class="form-group col-md-12">
                <div class="col-md-12 text-right">
                    <button type="submit" type="button" id="login-btn" class="btn btn-success" >
                        creer la tache
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>





